<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Police Series App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <div><ion-img [src]="serieimg"></ion-img></div>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>{{serietitle}}</ion-card-title>
      <ion-badge slot="start" color="warning">{{parentalrating}}</ion-badge>
      <ion-badge color="medium">{{seasons}}</ion-badge><br><hr>
      {{serieinfo}}
      <hr>
      <h3>Tags</h3>
      <ion-chip color="secondary">
        <ion-label color="dark">Suspense</ion-label>
      </ion-chip>
      <ion-chip color="tertiary">
        <ion-label color="dark">Mistério</ion-label>
      </ion-chip><hr>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="arrow-up-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>